body {
  height: 175px;
  width: 175px;
  margin: 5px;
}

header {
  background-color: darkorchid;
  color: white;

  display: grid;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}