h2 {
  width: fit-content;
}

header {
  background-color: darkorchid;
  color: white;
  padding: 1em;

  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

header > nav{
  display: flex;
  justify-content: space-between;
}

header > section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}
