h2 {
  width: fit-content;
}

a:hover {
  color:chartreuse;
}

header {
  background-color: darkorchid;
  color: white;
  padding: 1em;

  display: grid;
  align-items: center;
}

header > nav {
  /*width: fit-content;*/
  padding: 1em;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 3px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header > section {
  background-color:white;
  color: darkorchid;
  /*padding: 1em;*/

  display: grid;
  column-gap: 0.5em;
  grid-template-columns: 1fr 5fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

#qwert {
  margin: 10px;
  padding: 0.5em;
  border-style: double;
  border-color: darkorchid;
  border-width: 0.5em;
}

main {
  background-color: white;
  margin-top: 1em;

  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1em;
}

#department {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#department > a {
  background-color: darkorchid;
  color: white;
  padding: 0.5em;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  column-gap: 1em;
  row-gap: 1em;
}

#header-top > a {
  color:white;
}

#header-top > a:hover {
  color:chartreuse;
}

#department > a:hover {
  color:chartreuse;
}

